<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>meanit</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.js"></script>

  </head>

  <body ng-app="meanit" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <ui-view></ui-view>

        <form ng-submit="addPost()">
          <fieldset>
            <legend>New Post</legend>
            <div class="form-group">
              <input type="text" placeholder="title" ng-model="title"
                  class="form-control">
              <input type="text" placeholder="link" ng-model="link"
                  class="form-control">
            </div>
             <button type="submit" class="btn btn-primary">Post</button>
          </fieldset>
        </form>

        <div ng-repeat="post in posts | orderBy: '-upvotes'">
          <span class="glyphicon glyphicon-arrow-down" ng-click="downvote(post)"></span>
          <span class="glyphicon glyphicon-arrow-up" ng-click="upvote(post)"></span>
          [{{post.upvotes}} |
          <a href="#/post/{{post.id}}">{{post.comments.length}}</a>]
          <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
          <span ng-hide="post.link">{{post.title}}</span>
        </div>

      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>meanit</h1>
      </div>
    </script>

    <script type="text/ng-template" id="/post.html">
      <div class="page-header">
        <h2>
          <a ng-show="post.link" href="{{post.link">{{post.title}}</a>
          <span ng-hide="post.link">{{post.title}}</span>
        </h2>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <div>
          <span ng-click="downvote(comment)" class="glyphicon glyphicon-arrow-down"></span>
          <span ng-click="upvote(comment)" class="glyphicon glyphicon-arrow-up"></span>
          <span>{{comment.body}}</span>
        </div>
        <div>
          [{{comment.upvotes}}] - [{{comment.author}}]
        </div>
      </div>

      <form ng-submit="addComment()">
        <h3>Add a new comment</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Comment" ng-model="body">
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </script>

  </body>

</html>
